.main-notifications {
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 128px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.main-notif {
  width: 100%;
}

.notif {
  margin-right: 1rem;
}

.dropdown {
  margin-bottom: 0.5rem;
}

.bg-lightYellow {
  background-color: #eaf7f7;
}

.notification-box {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.message-box {
  background-color: #FEF2CB; 
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.manrope {
  font-family: manrope;
}

.noti-yellow {
  background-color: #ffc011 ;
}

.message-reply {
  background-color: #d2d2d2; 
  padding-left: 15px;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.no-padding {
  padding: 0px;;
}

.small {
  font-size: x-small;
  color: grey;
  margin: 0px;
}

.no-margin {
  margin: 0px;;
}

.close-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notification-img {
  width: 40px;     
  height: 40px;
  border-radius: 50%;  
  margin-right: 10px;  
  object-fit: cover;   
}

.form-control {
  border-color: #ffc011;
  border-radius: 15px;
  box-shadow: none;
  padding: 0px;
}

.btn-info {
  background-color: #48B7AB;
  border-color: white;
  color: white;
}

.btn-info:hover {
  color: white;
  border-color: white;
  background-color: #92DAD9;
}

.btn-check:active+.btn-info, .btn-check:checked+.btn-info, .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle {
  color: white;
  border-color: white;
  background-color: #92DAD9;
}


.no-notif{
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.message-link {
  display: block;
  text-decoration: none;
  color: inherit; 
}
.message-link:hover {
  text-decoration: none;
  color: #ffc011;
  cursor: pointer;
}

.reply {
  font-size: medium;
}

.message-box-read {
  background-color: #e5e5e5; 
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.link {
  text-decoration: none;
  color: rgb(69, 69, 69);
}


@media (max-width: 368px) {
 
  .main-notifications {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 128px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}