/*
 * my-application.css
 *
 * CSC309 PetPal
 * 
 * University of Toronto
 * Fall 2023
 *
 */
 @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

 #message-tb-container {
  position: relative;
 }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%;
  padding-left: 0.8rem;
  padding-top: 0.3rem;

 }

 .col-format {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px!important;
  align-items: centef;
  transition: all 0.3s linear;
}

 .send-btn-format {
  height: 25px;
  /* margin-left: 80%; */
  object-fit: contain;
 }

 /* Shared */
 .t-button {
    background-color: #48B7AB;
    border: 1px solid white; 
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 0.2rem 1rem;
    transition: 0.3s;
    text-decoration: none;
}

.t-button:hover {
    background-color: #119899;
    color: #D9EDED;
}

.message-history {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding 0.3s linear;
}
   
   .back-button {
      background-color: #FFC011;
      border: 1px solid white; 
      border-radius: 10px;
      color: white;
      font-size: 30px;
      padding: 0.2rem 1rem;
      transition: 0.3s;
      text-decoration: none;
   }
  
   .back-button:hover {
      background-color: #FFA903;
      color: #D9EDED;
   }
  
   .button-pos {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
   }
  
   .app-title {
    font-family: Mochiy Pop One;
    color: #119899;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 2rem;
    transition: font-size 0.3s ease;
  }
  
  .application-details {
    text-align: left;
    width: 100%;
    font-family: Manrope;
    color: #4B4B4B;
  }
  
  .content {
    background-color: #D9EDED;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .pet-pfp {
    object-fit: contain;
    /* width: calc(100% - 3rem); */
    margin: 1.5rem;
    height: 260px;
    object-position: center 80%;
    transition: width 0.3s ease;
    transition: height 0.3s ease;
  }
  
  .heading3 {
    padding-top: 1.5rem; /* to match pet pfp */
    font-size: 30px;
    font-weight: 600;
    font-family: Manrope;
    color: #4B4B4B;
  }
  
  .content-details {
    text-align: left;
    /* font-family: Manrope;
    color: #4B4B4B;
    margin-left: 1rem; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
  }
  
  .details-text {
    background-color: #FFFFFF;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: calc(100% - 3.0rem);
    border-radius: 15px;
  }
  
  .info-label {
    font-weight: 600;
  }
  
  .answer {
    margin-left: 0.5rem;
    transition: margin-bottom 0.3s ease;
  }
  
  .first-line {
    margin-top: 1.5rem;
    width: calc(100% - 1.5rem);
    margin-left: 1.5rem;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .line-long {
    width: calc(100% - 1.5rem);
    margin-left: 1.5rem;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 1rem;
  }
  
  .line {
    width: calc(100% - 1.5rem);
    margin-left: 1.5rem;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .sub-content {
    margin-left: 1.5rem;
  }
  
  .desc {
    margin-right: 1.5rem;
  }
  
  .from-message {
    display: flex;
    justify-content: flex-end;
    margin-left: 40%;
    width: calc(60% - 1.5rem);
    /* margin-right: 1.5rem; */
  }
  
  .to-message {
    display: flex;
    /* justify-content: flex-end; */
    /* margin-right: 40%; */
    width: calc(60% - 1.5rem);
    margin-left: 1.5rem;
  }
  
  .msg-text-from {
    background-color: #FFA903;
    /* margin-top: 1.5rem; */
    /* margin-right: 1.5rem; */
    padding: 1rem;
    border-radius: 15px;
    color: #FFFFFF;
    transition-property: font-size, padding;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }
  
  .msg-text-to {
    background-color: #FFC011;
    /* margin-top: 1.5rem; */
    /* margin-left: 1.5rem; */
    padding: 1rem;
    border-radius: 15px;
    color: #FFFFFF;
    transition-property: font-size, padding;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }
  
  .message-tb {
    /* background-color: #EDEDED; */
    margin: 1.5rem;
    margin-bottom: 0px;
    border-radius: 15px;
    height: 35px;
  }
  
  .type-in {
    width: 100%;
    height: 35px;
    padding-left: 0.8rem;
    padding-top: 0.3rem;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 15px;
    background-color: #EDEDED;
    color: #575757;
    font-size: 16px;
    resize: none;
  }
  
  .msg-pos {
    max-height: 500px;
    overflow-y: auto;
  }

  .details-pos {
    padding-right: 1.5rem;
  }

  .email-break {
    word-break: break-all
  }

  /* Testing */
.pet-summary {
  display: flex;
  flex-direction: row;
}

  /* Edits for responsiveness */
  @media screen and (max-width:768px) {
    .pet-info > p {
      padding-left: 1.5rem;
    }
    .pet-info > a {
      margin-left: 1.5rem;
    }
    .pet-pfp {
      margin-bottom: 0px;
    }
    .app-title {
      text-align: center;
      font-size: 2.5rem;
    }
    .msg-text-from {
      font-size: 2vw;
    }
    .msg-text-to {
      font-size: 2vw;
    }

    .desc {
      margin-bottom: 2vw;
    }

    /* Responsiveness */
    .main {
      padding-left: 14vw;
      padding-right: 14vw;
      padding-top: 10vw;
      /* margin-bottom: 15vw; */
      /* padding-bottom: 46vw; */
    }
    .info-label {
      font-size: 2.4vw;
    }
    .answer {
      font-size: 2.4vw;
    }
    .answer-long {
      font-size: 2.4vw;
    }
    .from-message {
      margin-left: 28vw;
    }
    .to-message {
      margin-left: 2vw;
    }
    .message-history {
      width: auto;
      padding-bottom: 1.5vw;
    }
    .type-in {
      font-size: 2vw;
    }
    .send-btn-format {
      height: 3vw;
      margin-bottom: 2px;
    }
    .send-button {
      align-items: flex-end;
    }
    .message-tb {
      margin: 2vw;
      margin-top: 2.5vw;
    }
  }

  @media screen and (min-width:410px) and (max-width:541px) {
    .footerContact {
      height: 50vw;
    }
    .text-center {
      height: calc(50vw + 56px);
    }
  }

  @media screen and (max-width:409px) {
    .main {
      margin-bottom: 14vw;
    }
  }

  @media screen and (min-width:0px) and (max-width:541px) {
    .app-title {
      /* text-align: left; */
      font-size: 5.8vw;
      margin-bottom: 6vw;
    }
    .pet-summary {
      flex-direction: column;
      align-items: flex-start;
    }
    .summarized-info {
      margin-left: 6.5vw;
    }
    /* .type-in {
      height: 65px;
    }
    .message-tb {
      height: 65px;
    } */
  }

  @media screen and (min-width:0px) and (max-width:995px) {
    .line{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .first-line {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 5vw;
    }
    .line-long {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .answer {
      margin-left: 0px;
    }
    .info-label {
      margin-bottom: 0rem;
    }
    .pfp-res {
      padding-right: 0px;
    }
    .pet-pfp {
      height: 26vw;
    }
    .heading3 {
      font-size: 3vw;
      padding-top: 0px;
      margin-top: 2vw;
      margin-bottom: 2vw;
      transition: font-size 0.3s ease;
    }
    .heading-res {
      padding-top: 1.5rem;
    }
    .desc {
      font-size: 1.6vw;
    }
    .t-button {
      font-size: 2vw;
    }
    .back-button {
      font-size: 3vw;
    }

  }

  @media screen and (max-width:345px) {
    .pet-pfp {
      /* height: calc(100% - 1rem);
      width: calc(100% - 13vw); */
      margin: 6.5vw;
      margin-top: 1rem;
      margin-bottom: 0px;
    }
    .heading3 {
      margin-bottom: 0.5rem;
    }
    .desc {
      margin-bottom: 0rem;
    }
    .details-pos {
      padding-right: 2vw;
    }
    .line {
      margin-left: 7vw;
    }
    .line-long {
      margin-left: 7vw;
    }
    .first-line {
      margin-left: 7vw;
    }
    .answer {
      margin-bottom: 4vw;
    }
    .details-text {
      margin: 6.5vw;
      margin-top: 0px;
      margin-bottom: 0px;
      width: calc(100% - 13vw);
    }
    .content-details {
      margin-top: 6vw;
    }
    .msg-text-from {
      padding: 3vw;
    }
    .msg-text-to {
      padding: 3vw;
    }
  }

  @media (max-width: 576px) {
    .col-format {
        display: flex;
        justify-content: flex-end;
        padding-right: 0px!important;
        align-items: flex-end;
    }
}


