/*
 * pet-create-update.css
 *
 * CSC309 PetPal
 * 
 * University of Toronto
 * Fall 2023
 *
 */
 @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

 .listing-form {
    text-align: left;
    width: 100%;
    font-family: Manrope;
    color: #4B4B4B;
  }
  
  form {
    width: 100%;
  }
  
  .field {
    text-align: center;
    display: flex;
    width: 80%;
    margin-bottom: 0.5rem;
    /* align-items: stretch; */
  }
  
  label {
    height: 100%;
    width: 20%;
    text-align: right;
    margin-right: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; */
  }
  
  .input-container {
    display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      text-align: left;
  }
  
  .input-container > div {
    width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 1vw;
  }

  
  .input-field{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    height: 35px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    /* padding-top: 0.3rem; */
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 15px;
    background-color: #EDEDED;
    color: #575757;
    font-size: 16px;
    resize: none;
  }
  
  
  .input-field-long {
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    /* padding-top: 0.3rem; */
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 15px;
    background-color: #EDEDED;
    color: #575757;
    font-size: 16px;
    resize: none;
  }
  
  .mini-h2-long {
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    margin-bottom: 7rem;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
  }

  .checkbox-label {
    height: 100%;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
    vertical-align: top;
    flex: 0 0 auto;
    width: 20%;
  }

  .mini-h2-checkboxes {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    font-size: 18px;
    font-weight: 600;
    height: 5vw;
    /* width: auto; */
    vertical-align: top;
    /* margin-bottom: 1.5rem; */
  }
  
  .checkboxes {
    height: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    margin-top: 3px;
  }
  
  input[type=file] {
      border-radius: 3px;
      border: 1px solid #EDEDED;
      padding: 0.5vw;
      width: 70%;
      box-sizing: border-box;
  }
  
  .submit-button {
    text-align: center;
  }

  .t-button {
    background-color: #48B7AB;
    border: 1px solid white; 
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 0.2rem 1rem;
    transition: 0.3s;
    text-decoration: none;
}

.mini-h2 {
  font-size: 18px;
  font-weight: 600;
}

.app-title {
  font-family: Mochiy Pop One;
  color: #119899;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 2rem;
  transition: font-size 0.3s ease;
}

.checkbox-container {
  height: 5vw;
}

.checkbox-container-2 {
  height: 5vw;
}

.v2 {
  height: 5vw;
}
.checkbox-field {
  transition: padding-bottom 0.3 linear;
  transition: height 0.3 ease;
}

@media screen and (min-width: 1682px) {
  .checkbox-field {
    padding-bottom: 0px!important;
    height: 3.5vw;
    /* margin-bottom: 0px; */
  } 
}

@media screen and (max-width: 1169px) {
  input[type=file]{
    height: auto;
    font-size: 1.4vw;
  }
  .mini-h2-long {
    margin-bottom: 8vw;
  }

}
  
@media screen and (max-width: 1145px) {
  .main {
    padding-left: 9vw;
    padding-right: 9vw;
    padding-top: 10vw;
    /* padding-bottom: 46vw; */
  }
  .app-title{
    font-size: 3.4vw;
  } 
  .input-field {
    height: 3vw;
    font-size: 1.4vw;
  }
  .input-field-long {
    height: 10.5vw;
    font-size: 1.4vw;
  }
  .mini-h2-long {
    font-size: 1.3vw;
    margin-bottom: 6.5vw;
  }
  .mini-h2-checkboxes {
    font-size: 1.3vw;
  }
  .mini-h2 {
    font-size: 1.3vw;
  }
  .label-checkbox {
    font-size: 1.4vw;
  }
  input[type=checkbox]{
    width: 1.7vw;
    height: 1.7vw;
    margin-right: 1.3vw;
    margin-top: 0.25vw;
  }
  .t-button {
    padding: 0.2vw 1.5vw;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 768px) {
  .app-title {
    margin-bottom: 4vw;
  }
  .field {
    margin-bottom: 0.7vw;
  }
}

@media screen and (max-width: 575px) {
  .row-alt {
    flex-wrap: nowrap!important;
    width: 12vw!important;
  }

}

@media screen and (min-width:410px) and (max-width:541px) {
  .footerContact {
    height: 50vw;
  }
  .text-center {
    height: calc(50vw + 56px);
  }
}

@media screen and (max-width:409px) {
  .main {
    margin-bottom: 14vw;
  }
}