/*
 * search.css
 *
 * CSC309 PetPal
 * 
 * University of Toronto
 * Fall 2023
 * Elena Scobici
 *
 */

#title {
  font-family: Mochiy Pop One;
  font-size: 55px;
  color: var(--dark-blue);
}

.main {
  display: flex;
  flex-direction: column;
}

#searchBar {
  height: 60px;
}

#dropdowns-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.checkbox {
  margin-left: 10px;
  transform: scale(1.5);
  float: right;
  margin-top: 6px;
}

.btn-secondary {
  background-color: var(--dark-blue) !important;
  border: 0 !important;
  font-family: Manrope !important;
  font-size: 24px !important;
  width: 150px !important;
}

.btn-secondary:focus {
  box-shadow: none !important;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}

.dropdown-bg {
  font-family: Manrope !important;
  background-color: var(--dark-blue) !important;
  padding: 0 !important;
}

.dropdown-toggle {
  color: white !important;
  font-size: 24px !important;
  width: 150px !important;
  border-radius: 0 !important;
}

.navbar-light {
  background-color: white !important;
}