.blog-container {
    padding-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-button {
    background-color: var(--mid-orange);
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    width: 80px;
}

.blog-edit {
    margin-left: auto;
    margin-right: 0.5rem;
}

.blog-delete {
    background-color: var(--dark-orange);
}