/*
 * shelter-detail.css
 * For shelter-detail.html and review.html
 *
 * CSC309 PetPal
 * 
 * University of Toronto
 * Fall 2023
 * Cassandra Tin Kwon Yuen
 *
 */
 @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

 :root {
   --dark-blue: #119899;
   --mid-blue: #48B7AB;
   --light-blue: #92DAD9;
   --dark-orange: #F3A133;
   --mid-orange: #FEBF11;
   --light-orange: #FEF2CB;
 }


 #shelter-detail-title {
    font-family: Mochiy Pop One;
    font-size: 55px;
    color: #009899;
 }

 #webpage {
    text-decoration: none;
    color: #F4A133;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 400;
    transition: 0.3s;
 }

 #webpage:hover {
   color: #FEBF11;
 }

 #contact {
    background-color: #F9FAFF;
    margin-top: 100px;
    text-align: left;
    padding: 3rem;
    border-radius: 20px;
    height: auto;
    gap: 1rem;
 }

 .contact-subtitle{
    font-family: Manrope;
    font-size: 30px;
    font-weight: 700;
    color: #009899;
 }


 #shelterLogo, #shelterLogo2, #shelterLogo3 {
    width: 70%;
    object-fit: contain;
    padding: 1rem;
 }

 #shelterLogo2, #shelterLogo3 {
   display: none;
 }

 .icon, .icon2 {
    color: black;
 }

 .icon2 {
   display: none;
 }

 .subtitleHeader { 
   grid-area: h; 
   display: flex;
   justify-content: start;
   align-items: start;
   text-align: left;
 }

 .shelterImg {
   grid-area: i; 
   display: flex;
   justify-content: end;
   align-items: center;
   /* height: 100%; */
 }

 .phoneIcon {grid-area: a;}
 .emailIcon {grid-area: b;}
 .locationIcon {grid-area: c;}
 .phoneLabel {grid-area: p;}
 .emailLabel {grid-area: e;}
 .locationLabel {grid-area: l;}
 .phone {grid-area: w; }
 .email {grid-area: v;}
 .location {grid-area: z;}

 /* .gridItem {
   display: flex;
   justify-content: left;
   align-items: center;
   text-align: left;
   width: 100%;
 } */


 #contactGrid {
   display: grid;
   grid-template-areas: 'h h h i'
                        'a p w i'
                        'b e v i'
                        'c l z i';
   row-gap: 0;
   column-gap: 1rem;
   justify-content: start;
   align-items: center;
   text-align: left;
   margin-top: 0;
 }

 .email.gridItem {
   text-decoration: none;
 }

 .contactRow {
    width: 100%;
    /* display: flex;
    align-items: center; */
    /* height: 5rem; */
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    word-wrap: break-word;
 }

 #subtitleRow {
    height: 3rem;
    /* padding-bottom: 1rem; */
 }

 .shelterContactInfoLabel {
    font-family: Manrope;
    color: #4B4B4B;
    font-size: 30px;
    font-weight: 600;
    padding-right: 0.5rem;
 }

 .textInfo {
    font-family: Manrope;
    color: #4B4B4B;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    word-wrap: break-word;
    word-break: break-word;
 }

 .contactImg {
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 1rem;
 }

 .contactInfoRow {
    height: 3rem;
    line-height: normal;
 }

 #rowGap {
   display: flex;
 }

 .subtitle2 {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: start;
   padding-top: 5rem;
   padding-left: 3rem;
   padding-bottom: 1rem;
 }

 #mission {
   padding-left: 3rem;
 }

 .pet {
   background-color: #D9EDED;
   border-radius: 20px;
   border: none;
   width: 213px;
   height: 306px;
   margin-top: 94px;
   transition: 0.3s;
   position: relative;
   margin-top: 37px;
}

.petImage {
   position: absolute;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border: none;
   width: 213px;
   height: 258px;
   top: 0;
   left: 0;
   object-fit: cover;
}

.petLabel {
   font-family: Manrope;
   font-weight: 400;
   font-size: 28px;
   color: #4B4B4B;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0.3rem;
   max-height: 48px;
}

#carouselContainer {
   padding: 0;
   margin: 0;
   position: relative;
   
}

.carousel .carousel-indicators {
   bottom: -4.5rem;
   
}

/* .carousel, .carousel-inner {
   width: max-content; 
   max-width: fit-content;
} */

/* .carousel {
   width: max-content; 
   max-width: fit-content;
} */

.carousel {
   height: fit-content;
}

#carouselPage {
   width: max-content; 
   max-width: fit-content;
   position: relative;
}


#petsCarousel .carouselIndicator {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: var(--dark-orange);
   margin: 0px 7px;
}

.carousel-control-next {
   right: -6rem;
   /* justify-content: left;
   padding-left: 1rem; */
}

.carousel-control-prev {
   left: -6rem;
   /* justify-content: right;
   padding-right: 1rem; */
}

.carousel-inner {
   display: flex;
   overflow: visible;
   /* width: 90%; */
}

.carousel-button {
   display: flex;
   position: absolute;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
   color: var(--dark-orange);
   font-family: Manrope;
   font-size: 65px;
   font-weight: 700;
}

.carousel-control-next-icon::after {
   content: '>';
}

.carousel-control-prev-icon::after {
   content: '<';
}

.row.align-middle {
   width: 100%;
}

/* review.html */
.userNameSubtitle {
   font-family: Manrope;
   font-size: 30px;
   font-family: 600;
   display: flex;
}

#userReview {
   padding: 2rem;
   /* margin: 3rem; */
   background-color: #F9FAFF;
}

#underlined {
   text-decoration: underline;
}

form {
   width: 100%;
   margin: 3rem;
   padding: 0 3rem;
}

textarea {
   font-family: Manrope;
   font-weight: 500;
   font-size: 26px;
   color: #4B4B4B;
   background-color: #F9FAFF;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   display: flex;
   align-items: right;
   width: 100%;
   border: none;
}

#submitButton {
   font-family: Manrope;
   font-weight: 500;
   font-size: 26px;
   color: white;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   background-color: #FFC011;
   border: none;
   transition: 0.3s;
   margin-top: 2rem;
   text-decoration: none;
}

#submitButton:hover {
   background-color:#FFA903;
}

/* #reviewRating {
   display: flex;
} */

.pet-grid {
   grid-template-columns: auto auto auto auto;
   display: grid;
   column-gap: 2rem;
   align-items: center;
   justify-items: center;
   place-items: center;
}

.pet-grid-item {
   display: flex;
   align-items: center;
   justify-content: center;
}

.pet-grid-item > .pet {
   margin-top: 1rem;
}

#blogsSubtitle {
   text-align: left !important;
}



/* .carouselImages {
   display: flex;
   flex-wrap: wrap;
   padding: 1rem;
   justify-content: center;
   align-items: center;
   align-self: center;
   justify-self: center;
   width: 1100px;
}

.carouselImages div {
   flex-grow: 1;
   padding: 0 1rem;
} */

/* @media screen and (max-width: 409px) {
   .main {margin-bottom: 403px;}
   .petImage {width: 164px; height: 200px;}
   .pet {width: 164px; height: 239px;}
   .petLabel {font-size: 23px; bottom: 0.2rem;}
   #dog { width: 80%; height: auto; left: 10%;}
   #cat { width: 70%; height: auto; left: 17%;}
   #other { width: 60%; height: auto; left: 19%;}
   #shelter { width: 60%; height: auto; left: 20%;}
   #quote {font-size: 35px;}
   .text, #shelterOrgs {margin-bottom: 0; font-size: 30px;}
 }

 @media screen and (max-width: 325px) {
   .main {margin-bottom: 403px;}
   .petImage {width: 100%; height: 200px;}
   .pet {width: 164px; height: 239px;}
   .petLabel {font-size: 23px; bottom: 0.2rem;}
 } */

 #reviewGrid {
   display: grid;
   grid-template-columns: auto auto;
 }

 #userGridItem {
   justify-self: start;
 }

 #starsGridItem {
   justify-self: end;
 }

@media screen and (max-width:1210px) {
   .pet-grid {grid-template-columns: auto auto auto; align-items: center;}
   .textInfo {font-size: 25px;}
   .shelterContactInfoLabel {font-size: 25px;}
   .icon {font-size: 20px;}
   .contact-subtitle{font-size: 27px;}
   #reviewForm {margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;}
   
   /* #replyBox {width: 96%;} */
   /* .carousel-control-next {right: -4rem;}
   .carousel-control-prev {left: -4rem;} */
}

@media screen and (max-width:1062px) {
   #shelterLogo {padding-right: 0;}
   #shelter-detail-title {font-size: 50px;}
   #webpage {font-size: 30px;}
   .contact-subtitle{font-size: 25px;}
   .shelterContactInfoLabel, .textInfo {font-size: 25px;}
   .icon {font-size: 22px;}
   #contact {margin-top: 3rem;}
}

@media screen and (max-width:1003px) {
   .pet-grid {grid-template-columns: auto auto; align-items: center;}
   .carousel-control-next {right: -4rem;}
   .carousel-control-prev {left: -4rem;}
   #petsSubtitle {padding-left: 0; padding-bottom: 0.5rem; justify-content: center;}
   #shelterLogo {width: 100%;}
   #review {font-size: 23px;}
   .userNameSubtitle {font-size: 26px;}
   #submitButton {font-size: 23px;}
   .reviewRating {font-size: 12px;}
   .starReview {font-size: 25px !important;}
   /* #replyBox {width: 95%;} */
}

@media screen and (max-width:878px) {
   #contact { width: 100%; position: relative;}
   #contactGrid {
      grid-template-areas: 'h h i'
                           'a p i'
                           'w w w'
                           'b e e'
                           'v v v'
                           'c l l'
                           'z z z';
      grid-template-columns: 1fr 10fr 10fr !important;
      row-gap: 0;
      column-gap: 0.5rem;
      justify-content: start;
      align-items: center;
      text-align: left;
   }
   /* .icon {display: none;}
   .icon2 {display: block; font-size: 20px; padding-bottom: 0; padding-right: 0.5rem;} */
   #shelterImg {align-items: start;}
   #shelterLogo {display: none;}
   #shelterLogo2 {
      display: flex; 
      justify-content: end; 
      padding: 0; 
      height: 7rem; 
      width: auto;
      align-items: end; 
      position: absolute; 
      right: 1rem; 
      top: 1rem;
   }
   #replyBox {width: 94%;}
   /* .starReview {font-size: 20px;} */
}

/* @media screen and (max-width:830px) {
   .reviewClick {padding-left: 3rem;}

} */

@media screen and (max-width:768px) {
   .pet-grid {grid-template-columns: auto; align-items: center;}
   .carousel-control-next {right: -4rem;}
   .carousel-control-prev {left: -4rem;}
   #mission , .subtitle2 {padding-left: 0;}
   .reviewClick {padding-left: 0;}
   #reviews {padding-right: 0; padding-left: 0;}
   #reviewBox {margin: 0; padding: 0; margin-top: 1rem;}
   #replyBox {padding: 0; margin-top: 1rem;}
   .noReply {padding-bottom: 1rem !important;}
   /* #replyBox {width: 97%;} */
   #collapsedReviews {padding-right: 0; padding-left: 0; margin-left: 0; margin-right: 0;}
   #seeMore {padding-right: 0;}
   #userReview {margin: 0;}
   .starReview {font-size: 22px !important;}
   #shelter-detail-main {padding-left: 1rem; padding-right: 1rem;}
   .blog-container {padding-left: 0;}
}

@media screen and (max-width:686px) {
   .reviewClick {padding-left: 0.5rem;}
   #shelterLogo3 {display: block; height: 10rem; max-width: 100%;}
   #shelterLogo2 {display: none;}
   #contact {margin-top: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;}
   #contactGrid {
      grid-template-columns: 10% 90% !important;
      justify-content: center;
      grid-template-areas: 'i i'
                           'h h'
                           'a p'
                           'w w'
                           'b e'
                           'v v'
                           'c l'
                           'z z';
   }
   
   #reviewGrid {grid-template-columns: auto;}
   #starsGridItem {justify-self: start; padding-bottom: 1rem;}
}

@media screen and (max-width:678px) {
   .reviewClick {padding-left: 0;}
   .rating {padding-right: 1rem; font-size: 15px;}
   .star, .starReview  {font-size: 20px;}
   .stars {padding-right: 0;}
   #contact {padding: 2rem;}
   .subtitle2 {text-align: center; justify-content: center; align-items: center;}
   /* .stars {padding-right: 0;} */
}

@media screen and (max-width:590px) {
   .carousel-control-next, #shelter-detail-main .carousel-control-next {right: -3rem;}
   .carousel-control-prev, #shelter-detail-main .carousel-control-prev {left: -3rem;}
}

@media screen and (max-width:522px) {
   .petImage {width: 164px; height: 200px;}
   .pet {width: 164px; height: 239px;}
   .petLabel {font-size: 23px; bottom: 0.2rem;}
   .carousel-control-next {right: -3rem;}
   .carousel-control-prev {left: -3rem;}
   .textInfo, .shelterContactInfoLabel, .userNameSubtitle {font-size: 20px;}
   .icon2 {font-size: 16px;}
   .main {padding-left: 3rem !important; padding-right: 3rem !important;}
   /* #replyBox {width: 96%;} */
}

@media screen and (max-width:448px) {
   .rating {font-size: 12px;}
   .star, .starReview  {font-size: 15px;}
   .carousel-control-next {right: -2rem;}
   .carousel-control-prev {left: -2rem;}
   .userNameSubtitle {font-size: 19px;}
   #review {font-size: 18px;}
   #submitButton {font-size: 18px;}
   #shelter-detail-title {font-size: 40px; line-height: 2.8rem;}
   #webpage {font-size: 25px; padding-top: 0.5rem;}
   .subtitleHeader {width: 100%;}
   #replyBox {width: 95%;}
}

@media screen and (max-width:399px) {
   .main {padding-left: 2rem !important; padding-right: 2rem !important;}
   .reviewLink {font-size: 20px;}
   #userGridItem, #starsGridItem {justify-self: center;}
   #reviewRating {padding-right: 0;}
}

@media screen and (max-width:367px) {
   .rating {padding-top: 0.5rem}
}

