.msg-text-from, .msg-text-to {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    position: relative;
}

.msg-text-to:after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #FFC011;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.msg-text-from:after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #FFA903;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.send-btn {
    border: none !important;
    background-color: white;
    margin-left: 0.8rem;
    margin-right: 1rem;
    width: 20px;
}

.message-tb {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    width: calc(100% - 2rem); /* Adjust this line */
}

.message-container {
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    width: auto;
}

#type-in {
    margin-right: 0;
    overflow: visible;
}

#message-tb-container textarea {
    width: 100%;
    margin-right: 0;
    height: 35px;
}