/*
 * landing.css
 *
 * CSC309 PetPal
 * 
 * University of Toronto
 * Fall 2023
 * Cassandra Tin Kwon Yuen
 *
 */
 @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

 #home {
   padding-left: 100px;
   padding-right: 100px;
 }

 .main {
   padding-bottom: 0 !important;
 }

 #mainImg {
    width: 100%;
    object-fit: cover;
 }

 #mainImg2 {
   display: none;
 }

 #mainImgContainerHome {
    padding-left: 0;
    padding-right: 0;
    position: relative;
 }

 #overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
 }


 .overlayPetpal {
    font-family: Mochiy Pop One;
    color: #119899;
    font-size: 55px;
    
 }


 #apply {
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
 }

 #applyToday {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #apply:hover {
    color: white;
 }

 .circle {
    background-color: #D9EDED;
    border-radius: 50%;
    border: none;
    width: 208px;
    height: 208px;
    margin-top: 94px;
    transition: 0.3s;
    position: relative;
 }

 .circle:hover {
    background-color: #BADCDB;
 }

 .vector {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 }

 #dog {
    position: absolute;
    top: 10%;
    left: 11%;
    width: 161px;
    height: 161px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 }

 #cat {
    width: 140px;
    height: 140px;
    top: 18%;
    left: 20.5%;
 }

 #other {
    width: 128px;
    height: 128px;
    top: 18%;
    left: 19%;
 }

 #shelter {
    width: 123px;
    height: 123px;
    top: 18%;
    left: 20.5%;
 }

 #vectorButtons {
    padding-bottom: 5rem;
 }

 .vectorLabel {
    font-family: Manrope;
    font-weight: 600;
    font-size: 36px;
    color: #78909C;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
 }

 #quote {
    font-family: Mochiy Pop One;
    color: #119899;
    font-size: 55px;
    line-height: 1.3;
 }

 .break {
    display: inline;
 }

 #home .text {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 400;
    color: #4B4B4B;
    margin-top: 85px;
 }

 .pet {
    background-color: #D9EDED;
    border-radius: 20px;
    border: none;
    width: 213px;
    height: 306px;
    margin-top: 94px;
    transition: 0.3s;
    position: relative;
    margin-top: 37px;
 }

 .petImage {
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    width: 213px;
    height: 258px;
    top: 0;
    left: 0;
    object-fit: cover;
 }

 .petLabel {
    font-family: Manrope;
    font-weight: 400;
    font-size: 28px;
    color: #4B4B4B;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.3rem;
    max-height: 48px;
 }

 #morePets {
    font-family: Manrope;
    font-weight: 600;
    font-size: 28px;
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: #FFE599;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
 }

 #morePets:hover {
    background-color: #FFCF43;
 }
 
 #morePetsText {
    font-family: Manrope;
    font-weight: 600;
    font-size: 28px;
    color: white;
    text-decoration: none;
    display: flex;
    transition: 0.3s;
 }

 #arrow {
    font-family: Manrope;
    font-weight: 700;
    font-size: 35px;
    color: #FFE599;
    bottom: 3.5rem;
    display: none;
    transition: 0.3s;
 }

 #morePets:hover #arrow {
    display: block;
    color: #FFF1C6;
    transition: 0.3s;
 }

 #shelterOrgs {
    margin-top: 136px;
    margin-bottom: 40px;
 }

 #shelters {
    margin-top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
 }

 .shelterLogo {
    object-fit: contain;
    display: flex;
    max-height: 200px;
    padding: 1rem;
 }

 @media screen and (max-width: 1050px) {
   .yellowButton { 
      text-align: right; 
      background-color: #FFC011;
      border: 1px solid white; 
      border-radius: 10px;
      color: white;
    }
    .yellowButton:hover {
       background-color: #FFA903; color: white;
    }
    
    #apply { padding-top: 8px; display: flex; width: fit-content; font-size: 25px; 
       height: 3.25rem;  line-height: normal; text-align: center; width: fit-content !important;}
    .overlayPetpal { font-size: 40px; }
    #mainImg { height: 350px; object-position: 100% 0; width: 100%; }
 }

 @media screen and (max-width: 1000px) {
    .break {display: none;}
 }

 @media screen and (max-width: 991px) {
   .yellowButton, #apply { 
     text-align: right; 
     background-color: #FFC011;
     border: 1px solid white; 
     border-radius: 10px;
     color: white;
   }
   .yellowButton:hover {
      background-color: #FFA903; color: white;
   }
   
   #apply { padding-top: 8px; display: flex; width: fit-content; font-size: 25px; 
      height: 3.25rem;  line-height: normal; text-align: center;}
   .overlayPetpal { font-size: 40px; }
   #mainImg { height: 350px; object-position: 100% 0; width: 100%; }
   #quote { font-size: 40px; }
   
 }

 @media screen and (max-width: 850px) {
   #home {
      padding-left: 50px;
      padding-right: 50px;
   }
 }

 @media screen and (max-width: 767px) {
 #mainImgContainerHome {height: 100vh;}
   #overlay { margin-top: 0; display: flex; justify-content: start !important; padding-top: 20vh;}
   #mainImg {display:none !important;}
   #mainImg2 {display: flex; height: 100vh !important; object-fit: cover; object-position: 100% 0;}
   .main {position: relative;}
   #mainImgContainerHome {width: 100vw; height: 100vh; position: absolute; left: 0; top: 0; padding-bottom: 100vh;}
   .shelterLogo { object-fit: scale-down; max-width: 100%; max-height: 50vw; transform: scale(0.9); }
   .main {margin-bottom: 390px; padding-bottom: 5rem;}
   #vectorButtons {padding-top: 50vh !important; padding-left: 0; padding-right: 0;}
   #home {padding: 0;}
 }

 @media screen and (max-width: 574px) {
   #overlay {width: 100%;}
   .main {margin-bottom: 50px !important;}
 }

 @media screen and (max-width: 409px) {
   .main {margin-bottom: 100px !important;}
   .petImage {width: 164px; height: 200px;}
   .pet {width: 164px; height: 239px;}
   .petLabel {font-size: 23px; bottom: 0.2rem;}
   #dog { width: 80%; height: auto; left: 10%;}
   #cat { width: 70%; height: auto; left: 17%;}
   #other { width: 60%; height: auto; left: 19%;}
   #shelter { width: 60%; height: auto; left: 20%;}
   #quote {font-size: 35px;}
   #home .text, #shelterOrgs {margin-bottom: 0; font-size: 30px;}
   .shelterLogo { max-height: 100%; }
 }

 @media screen and (max-width: 325px) {
   .main {margin-bottom: 403px;}
   .petImage {width: 100%; height: 200px;}
   .pet {width: 164px; height: 239px;}
   .petLabel {font-size: 23px; bottom: 0.2rem;}
 }