/*
 * CSC309 PetPal
 * 
 * University of Toronto
 * Fall 2023
 * Elena Scobici
 *
 */
#log-in-btn {
    padding: 10px 20px !important;
}

body {
    background-color: var(--light-blue);
}

.page-container {
    height: 100vh;
}

.main {
    padding: 0px 65px;
    margin: 0;
}

#login-container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 14px;
    justify-content: space-between;
    height: calc(100vh - 125px);
}

.account-links {
    margin-top: 10px;
}

form {
    width: auto !important;
}

@media only screen and (max-height: 650px) {
    #login-container {
        height: 100%;
        margin-bottom: 65px;
    }

    .page-container {
        overflow: auto;
    }
}

@media only screen and (max-width: 1020px) {
    #login-container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 65px;
        padding: 20px;
    }

    #welcome-back-container {
        width: 100% !important;
    }

    #log-in-info-container {
        width: 100% !important;
    }

    .yellowButton {
        background-color: #FFC011;
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 20px;
        transition: 0.3s;
        text-decoration: none;
    }
}

@media only screen and (max-width: 1020px) {
    .text-input {
        width: 90% !important;
        margin-bottom: 10px !important;
    }
}

@media only screen and (max-width: 500px) {
    #login-container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 10%;
        padding: 20px;
    }

    #welcome-back-container {
        width: 100% !important;
    }

    #log-in-info-container {
        width: 100% !important;
    }

    .text-input {
        width: 100% !important;
        font-size: 7vw !important;
        margin-bottom: 5px !important;
    }

    .yellowButton {
        background-color: #FFC011;
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        font-size: 5vw;
        text-align: center;
        line-height: 20px;
        transition: 0.3s;
        text-decoration: none;
    }

    #puppy-waving-img-container {
        width: 100%;
        height: auto !important;
    }

    #puppy-waving-img {
        width: 100%;
        height: auto !important;
    }

    .main {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
        transition: 0.3s;
    }

    #welcome-back-container>p {
        font-size: 10vw !important;
    }

    .yellowButton {
        width: 100% !important;
    }

    .alert-danger {
        font-size: 7vw !important;
    }

    .account-links {
        font-size: 5vw;
    }
}

#welcome-back-container {
    display: flex;
    flex-direction: column;
    font-family: Mochiy Pop One;
    color: var(--dark-blue);
    width: 50%;
    justify-content: center;
}

#welcome-back-container>p {
    font-size: 50px;
    margin-bottom: 8px;
}

#puppy-waving-img-container {
    height: 100%;
    object-fit: contain;
}

#puppy-waving-img {
    height: 100%;
}

#log-in-info-container {
    display: flex;
    flex-direction: column;
    font-family: Manrope;
    color: var(--dark-blue);
    font-size: 40px;
    text-align: center;
    width: 50%;
    justify-content: center;
    padding: 0;
}

.text-input {
    border-radius: 20px;
    font-size: 32px;
    background-color: #f0f0f0;
    border: 0;
    padding: 5px 10px;
    margin-top: 20px;
    width: 50%;
}

#log-in-btn {
    height: 50px;
    margin-bottom: 20px;
}

.alert-danger {
    font-size: 20px !important;
}